<html>
    <head>

    </head>
    <body>
        <h1> TextPy API </h1>
        <p> This document contains information about our API and explains how to use our WebCraft API within our app.  </p>

        <h2> Authentication </h2>
            (Insert text here)
        
        <h2> Endpoints </h2>
        <p> The following endpoints are available: </p>
        <ul>
            <li> <code>GET /home</code>: Takes users to the homepage of the application </li>
        </ul>

        <h2> Examples </h2>
            (Insert text here)


        <h2> Error Handling </h2>
            (Insert text here)

        <h2> Additional Information </h2>
        <p> For more information on how to use the API, contact us at <a href="mailto:elliotfayman@gmail.com">elliotfayman@gmail.com.</a> </p>
        <p> You can also checkout our <a href="https://github.com/elliotfayman/TextPy"> github </a></p>
    </body>
</html>